.pack_name_input {
  width: 20vw !important;
  margin-left: 3% !important;
  margin-bottom: 0 !important;

  * {
    background: transparent !important;
    font-weight: 600;
  }

  .ant-form-item-control-input {
    * {
      color: white;

      &::placeholder {
        color: white;
        font-weight: 300;
        opacity: 1;
      }
    }
  }
  .ant-form-item-explain {
    font-weight: 700 !important;
  }
}