.packs {
  height: inherit;
  display: flex;
  flex-direction: column;

  &__info {
    position: absolute;
    left: 2vw;
    top: 3vh
  }

  &__top {
    display: flex;
    flex-direction: row;;
    justify-content: flex-end;
    height: 2%;
  }

  &__content {
    width: 75vw;
    height: 90vh;
    margin: auto;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 25px 15px 0;
    font-family: Exo2Thin, sans-serif;
    font-weight: 500;
  }
}