.wait {
  align-items: center;
  font-family: Exo2Thin, "Samyak Gujarati", sans-serif;
  color: white;

  &__info {
    position: absolute;
    top: 3vh;
    right: 3vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  &__content {
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30vh;
    right: 35vw;
    left: 35vw;

    &__icon {
      font-size: 25vh;
      color: rgba(255, 255, 255, 0.4) !important;
      margin-bottom: 5%;
      font-weight: 700;
    }

    &__text {
      margin-bottom: 15%;
      font-size: 3vh;
      content: "Ожидание противника";

      &:after {
        animation: dots 2.8s linear infinite;
        display: block;
        content: "Ожидание противника";
      }
    }

    &__time_label {
      font-weight: 600;
      font-size: 2.5vh;
    }
  }

  &__button {
    position: absolute;
    bottom: 3%;
    font-size: 2vh;
    height: 5.1vh;
    width: 20vw;
    font-weight: 900;
    right: 40vw;
    left: 40vw;
  }

  @keyframes changeLetter {
    0% {
      content: "A";
    }
    50% {
      color: white;
    }
    100% {
      content: "B";
    }
  }
}

@keyframes dots {
  0%   {
    content: "Ожидание противника";
  }
  25%  {
    content: "Ожидание противника.";
  }
  50%  {
    content: "Ожидание противника..";
  }
  100% {
    content: "Ожидание противника...";
  }
}