.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__content {
    width: 32vw;
    padding: 1%;
    color: white;

    &__info {
      position: absolute;
      right: 3vw;
      top: 5vh;

    }


    &__link {
      display: block;
      text-align: center;
      font-size: 1.9vh;
      letter-spacing: 0.03vw;
      font-weight: 600;
      color: white;
      opacity: 0.6;
    }

    &__button {
      width: 100%;
      height: 5vh;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.03vw;
      font-size: 1.9vh;
      margin-top: 0.5%;
      margin-bottom: 3%;
    }

    &__form {
      &__item {
        margin-bottom: 0.1% !important;

        * {
          background: transparent !important;
          font-weight: 600;
        }

        .ant-form-item-control-input {
          * {
            color: white;


            &::placeholder {
              color: white;
              font-weight: 300;
              opacity: 1;
            }
          }
        }

        .ant-form-item-explain {
          font-weight: 700 !important;
          * {
            font-size: 1.4vh !important;

          }

        }
      }
    }

    &__top {
      text-align: center;
      margin-bottom: 4.5%;

      h2 {
        font-size: 2.8vh;
        margin-bottom: 1%;
        color: white;
        font-weight: 700;
      }

      p {
        font-size: 1.8vh;
        line-height: 2vh;
        letter-spacing: 0.02vw;
        opacity: 0.5;
        color: white;
        font-weight: 600;
      }
    }
  }
}
