.game_status_panel {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Exo2Thin, sans-serif;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-shadow: black 2px 2px 2px;

  &__points {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;

    &__title {
      font-size: 2vh;
      margin: 0.5vh auto;
    }

    &__row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.6vh;
      text-align: left;
      margin: 0.5vh 0.5vw;

      &__value {
        margin-left: 1vw;
        font-size: 2.3vh;
      }

    }
  }


 &__time {
   font-size: 3.2vh;
   margin-bottom: 4vh;
 }

  &__button {
    padding: 1vh;
    width: 9vw;
    height: 5.2vh;
    background: rgba(255, 255, 255, 0);
    border: solid 0.45vh rgb(255, 255, 255);
    font-size: 1.5vh;
    border-radius: 0.1em;
    font-weight: 900;

    &:disabled, &:hover {
      background: rgba(255, 255, 255, 0);
      border-color: #aaaaaa;
      color: #aaaaaa;
    }

  }
}