.battle {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;

  &__info {
    position: absolute;
    top: 3vh;
    right: 1.5vw;
  }

  &__archer {
    svg {
      pointer-events: none;
    }
  }

  &__game_field {
    width: 89.5vw;
    height: inherit;
    display: grid;
    grid-template-columns: 50%  50%;
    grid-template-rows: 13vh auto 6% auto 15vh;

    &__placing_ships {
      grid-row: 5;
      grid-column-start: 1;
      grid-column-end: 3;
      overflow: auto;
      margin-top: 1%;
    }

    &__border {
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      width: 95%;
      text-align: center;
      margin: auto;
      vertical-align: center;
      position: relative;

      &__support_info {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 3.2vh;
        position: absolute;
        font-weight: 600;
        left: 10%;
        text-transform: uppercase;
        letter-spacing: 0.12vw;
        transition: opacity 1s ease-in-out;
        z-index: 99999;
      }

      &__floating_card {
        width: 40%;
        position: absolute;
        top: -800%;
        left: 38%;
        z-index: 99999;
      }

      &__line {
        background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, white 50%);
        background-position: top;
        background-size: 15% 15%;
        background-repeat: repeat-x;
      }
    }

    &__enemy_hands_actions {
      width: 100%;
      height: 12vh;
      transform: scale(1, -1);
      position: relative;
      top: -10vh;
      right: 30%;
      left: 30%;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 1;
    }

    &__hands_actions {
      width: 100%;
      height: 15vh;
      position: relative;
      bottom: -8vh;
      right: 30%;
      left: 30%;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 5;
    }

    &__ships {
      margin-left: 3%;

      &__row {
        height: 11vh;
      }
    }

    &__ships_enemy {
      grid-column: 1;
      grid-row: 2;
    }

    &__ships_my {
      grid-column: 1;
      grid-row: 4;
    }

    &__actions_enemy {
      grid-column: 2;
      grid-row: 2;
      height: 20vh;
    }

    &__actions_my {
      grid-column: 2;
      grid-row: 4;
      height: 20vh;
    }
  }

  &__sub_field {
    width: 9.5vw;
    height: inherit;
  }
}

.ships_card {
  width: 7.6vw;
}

.actions_card {
  width: 6.2vw;
}